.navbar-logo{
    margin-left: 30px;
    margin-top: 2px;
}

.navbar{
   padding-right: 15px;
}
.hoverable:hover{
    opacity: 0.7;
}
.hoverable{
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}
}